@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Maersk Main Office<br />
    Suites C-5-6-7-8 &<br />
    D-5-6-7-8<br />
    Level 6<br />
    Sky Park One City<br />
    Jalan USJ 25/1<br />
    47650 Subang Jaya<br />
    Selangor<br/>
    Malaysia<br/>
    
</address>

<address>
    <strong>Call:</strong>   <a href="mailto:Support@example.com">+603 8026 6688</a><br />
    <strong>Mail:</strong> <a href="mailto:Marketing@example.com">hello@maersk.com</a>
</address>