@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1 style="text-align:center"><b>Maersk Container Management System</b></h1>
    <p class="lead" style="text-align:justify">Regardless of your industry, your commodity, or your key markets, Maersk Line has solutions that offer both small and large businesses the opportunity to grow. We serve our customers with frequent departures on all major trade lanes and inland services for a true end-to-end experience.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3 style="text-align:center"><b>Serving Customers' Needs</b></h3>
        <p style="text-align:justify"> 
            <img style=" width:370px ;height:350px;" align="middle" ; src="@Url.Content("~/Content/Images/customer.png") " />
            Seamlessly shipping your Argriculture to Machinery shipping needs! We provide oversized cargo, dangerous cargo, chemicals, automotives and electronics shipping as well!
        </p>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center"><b>Connecting Trade Globally</b></h3>
        <p style="text-align:justify">
            <img style=" width:370px ;height:350px;" align="middle" ; src="@Url.Content("~/Content/Images/globally.png") " />
            As a leader in shipping and global trade, Maersk Line champions the successes of customers all around the world. 
            We pair our global network with the expertise and experience you need to help your business ambitions come to life.
        </p>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center"><b>Responsible Business Partner</b></h3>
        <p style="text-align:justify">
            <img style=" width:370px ;height:350px;" align="middle" ; src="@Url.Content("~/Content/Images/business.png") " />
            We aim to conduct our operations in a manner that protects the health & safety of our employees, and our aim is to have zero accidents.
            We also respect internationally recognised human rights, and all our employees are treated in a manner consistent with the A.P. Moller – Maersk Group’s Global Labour Principles, as well as applicable laws and labour conventions.
        </p>
    </div>
</div>